@import url('https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&family=Gluten:wght@100..900&display=swap');

* {
    font-family: "Elms Sans", sans-serif;
    margin: 0;
    padding: 0;
    color: var(--text);
    letter-spacing: 0.5px;
    box-sizing: border-box;
}

:root {
    --primary: #147E1A;
    --primary-light: #97C488;
    --primary-light-50: #CBE1BB;
    --secondary: #E13329;
    --secondary-light: #F29E8F;
    --secondary-light-50: #f29e8f8a;
    --header-bg: #C9D0C6;
    --background: #FEFADF;
    --background-50: rgb(254, 250, 223, 0.6);
    --text: #003103;
    --text-60: #00310396;
    --text-40: #00310366;
    --radius: 10px;
}

body {
    background-color: var(--background);
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

section {
    padding: 50px 0;
}

.feedback {
    position: absolute;
    z-index: 100;
    background-color: var(--background);
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 0 15px 0 #0031038c;
    border-radius: var(--radius);
}

.feedback p {
    margin: 0 20px;
}

header {
    background-color: var(--header-bg);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}

.nav-icon {
    height: 40px;
    margin-left: 20px;
    transition: 0.3s;
    /* cursor: url(/static/images/flower.svg), auto; */
    border-radius: 50%;
}

.nav-icon:hover {
    background-color: var(--primary);
}

h1 {
    font-size: 45px;
    font-family: 'Gluten';
    letter-spacing: 0px;
    text-align: center;
    margin-bottom: 30px;
}

h2 {
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 20px;
}

h3 {
    font-size: 26px;
    margin-bottom: 20px;
}

.p-special {
    font-size: 18px;
}

.home {
    background-image: url(/static/images/bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 60px);
}

.div-btn {
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 50px;
}

.btn {
    color: var(--background);
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    display: inline-block;
    padding: 10px;
    min-width: 170px;
    border: 1px solid var(--background);
    border-radius: var(--radius);
    box-shadow: -10px 10px 0 0 var(--primary-light);

    cursor: url(/static/images/flower.svg), auto;
    transition: 0.3s;
}

.btn-small {
    font-size: 17px;
    padding: 6px 18px;
    min-width: 150px;
    border: 1px solid var(--primary-light);
    background-color: var(--primary);
}

.btn-small--light {
    box-shadow: -8px 8px 0 0 var(--background-50);
}

.btn-small--green {
    box-shadow: -8px 8px 0 0 var(--primary-light);
}

.btn-small--grey {
    border: 1px solid var(--text-40);
    background-color: var(--header-bg);
    box-shadow: -8px 8px 0 0 var(--header-bg);
}

.btn:hover {
    box-shadow: none;
    color: var(--primary-light);
}

.btn-small--grey:hover {
    color: var(--text-60);
}

.btn-secondary {
    box-shadow: -10px 10px 0 0 var(--secondary-light);
}

.btn-secondary:hover {
    color: var(--secondary-light)
}

.login {
    background-image: url(/static/images/login-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 60px);
    background-color: #00310341;
    background-blend-mode: multiply;
}

.login h1,
.login label,
.login p {
    color: var(--background);
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    padding: 30px 0;
    align-items: start;
}

/* .form {
    width: 350px;
    margin: 0 0 0 auto;

} */

.form-grid .div-special {
    margin: 50px auto auto 60px;
}

.form input:not([type="checkbox"]),
.form select {
    width: 100%;
    padding: 8px;
    border-radius: var(--radius);
    background: var(--background-50);
    border: none;
    margin: 3px 0 15px;
}

.form input:-webkit-autofill,
.form input:-webkit-autofill:hover,
.form input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 5px 0 var(--background-50) inset;
    -webkit-text-fill-color: var(--text);
    transition: background-color 5000s ease-in-out 0s;
}

.form input:not([type="checkbox"]):focus,
.form select:focus {
    outline: 1px solid var(--primary);
    outline-offset: -3px;
}

.p-special a {
    text-decoration: none;
    background-color: var(--background);
    border-radius: 5px;
    padding: 0 5px 2px;
    color: var(--primary);

    transition: 0.3s;
}

.p-special a:hover {
    text-decoration: underline;
}

.register-img {
    height: 390px;
    background-image: url(/static/images/register-img.jpg);
    background-position: left 50%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: var(--radius);
}

.form-green input:not([type="checkbox"]),
.form-green select {
    background-color: var(--primary-light-50);
}

.form-green input:not([type="checkbox"]):-webkit-autofill,
.form-green input:not([type="checkbox"]):-webkit-autofill:hover,
.form-green input:not([type="checkbox"]):-webkit-autofill:focus,
.form-green select:-webkit-autofill,
.form-green select:-webkit-autofill:hover,
.form-green select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 5px 0 var(--primary-light-50) inset;
    -webkit-text-fill-color: var(--text);
    transition: background-color 5000s ease-in-out 0s;
}

/* ==== join_picnic page tabs show/hide ==== */
.join-tabs {
    display: flex;
    transform: translate(-11px, -80%);
    position: absolute;
}

.join-tab {
    padding: 12px 20px;
    color: var(--text-60);
    border: 1px solid var(--header-bg);
    background-color: var(--primary-light-50);
    border-radius: var(--radius) 2px 0 0;

    cursor: pointer;
}

.join-tab.active {
    background-color: var(--background);
    color: var(--text);
    font-weight: 600;
    border-color: var(--text);
    border-bottom: none;
}

.join-form {
    display: none;
}

.join-form.active {
    margin-top: 60px;
    display: block;
}

.join-box {
    border: 1px solid var(--text);
    border-radius: var(--radius);
    position: relative;
    margin-top: 50px;
    padding: 0 0 0 10px;
}

.join-picnic-bg {
    clip-path: inset(0 0 0 0 round 0 var(--radius) var(--radius) 0);
}

.join-picnic-img {
    min-height: 550px;
    background-image: url(/static/images/join-picnic-img.png);
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
}

.form-grid.form-grid--join {
    padding: 0;
}

/* ===== picnics page style ====== */
.intro {
    margin-bottom: 60px;
}

.intro p {
    margin-bottom: 20px;
}

.picnics-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.picnic-card {
    width: 330px;
    border: 1px solid var(--primary);
    border-radius: var(--radius);
    overflow: hidden;
    background-image: url(/static/images/picnic-img.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: -8px 8px 0 0 var(--primary-light);
    transition: 0.3s;
}

.picnic-card-content {
    margin-top: 120px;
    padding: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #fefadfe0;
}

.picnic-card-content span {
    font-weight: 600;
}

.picnic-card-actions {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.picnic-action {
    flex: 1;
    text-decoration: none;
    cursor: pointer;
    padding: 8px 16px;
    border: 1px solid var(--primary);
    border-radius: var(--radius);
    background-color: var(--primary-light-50);
    font-size: 15px;
    text-align: center;
    transition: 0.3s;
}

.picnic-action-delete {
    padding: 0;
    background-color: var(--secondary-light-50);
    border-color: var(--secondary);
}

.picnic-action-delete button {
    display: block;
    width: 100%;
    height: 100%;
    padding: 8px 16px;
    border: none;
    background: transparent;
    font: inherit;
    cursor: pointer;
}

.picnic-action:hover {
    transform: translate(1px, -1px);
    color: var(--primary);
}

/* ====== picnic page ==== */
.picnic-page {
    padding: 45px 0 80px;
}

.picnic-welcome {
    margin-bottom: 50px;
}

.picnic-welcome p {
    margin-bottom: 10px;
}

.copy-btn {
    border: none;
    background: none;
    margin-left: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.copy-btn img {
    height: 15px;
}

.copy-btn:hover {
    transform: translate(0.8px, -0.8px);
}

.picnic-info-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 50px;
    margin-bottom: 60px;
}

.picnic-participants h4 {
    background-color: var(--primary-light-50);
    border: 1px solid var(--text-60);
    color: var(--text-60);
    border-radius: var(--radius);
    padding: 2px 10px 3px;
    position: absolute;
    left: 10%;
    top: 0;
    transform: translateY(-50%);
}

.picnic-participants,
.picnic-details {
    flex: 1;
    min-height: 180px;
    padding: 45px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* guests card */
.picnic-participants {
    position: relative;
    background-color: var(--primary-light-50);
    border-radius: 55px;
}

.organizer {
    display: flex;
    gap: 25px;
    margin-bottom: 18px;
}

.organizer span,
.organizer strong {
    color: var(--primary);
}

.guest-list {
    display: flex;
    flex-wrap: wrap;
    gap: 12px 24px;

    font-weight: 500;
}

/* details card */
.picnic-details {
    border: 1px solid var(--text);
    border-radius: 55px;
}

.detail-row {
    display: grid;
    grid-template-columns: 120px 1fr;
    gap: 15px;

    margin-bottom: 10px;
}

.picnic-edit {
    margin-top: 15px;
    align-self: flex-start;
    color: var(--primary);
    text-decoration: none;
}


/* --- category grid ------ */
.categories-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    gap: 70px 35px;
}

.category-items {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.item-row {
    display: grid;
    grid-template-columns: 1fr 1fr 0.5fr 0.8fr;
    gap: 3px;
}

.item-cell {
    min-height: 35px;
    padding: 8px 12px;
    border-radius: 3px;
    background-color: var(--primary-light-50);
    display: flex;
    align-items: center;
}

.item-claimant {
    font-size: 14px;
}

.item-claimant .you {
    background-color: var(--primary-light);
    border-radius: 4px;
    padding: 0 10px;
}

.item-action {
    padding: 0;
}

.item-action form {
    width: 100%;
    height: 100%;
}

.item-action button {
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
    font: inherit;
    cursor: pointer;
}

.item-action button.grab {
    color: var(--primary);
    font-weight: 500;
}

.item-action button:hover {
    background-color: var(--primary-light);
}

.disabled-action {
    width: 100%;
    padding: 0;
    color: var(--text-40);
    text-align: center;
}

/* -----  actions ----- */
.item-secondary-actions {
    display: flex;
    gap: 8px;
    padding: 5px auto;
}

.item-secondary-actions a,
.item-secondary-actions button {
    border: 0;
    background: none;
    padding: 0;
    font: inherit;
    color: var(--text);
    cursor: pointer;
    text-decoration: none;
}

.item-secondary-actions button {
    color: var(--text-60);
}

.item-secondary-actions a:hover {
    color: var(--primary);
}

.item-secondary-actions button:hover {
    color: var(--secondary-light)
}

/* ------- add item --------- */
.add-item-form {
    display: grid;
    grid-template-columns: 2.55fr 0.8fr;
    gap: 3px;
    margin-top: 5px;
}

.add-item-form input {
    padding: 8px 12px;
    border: 1px solid var(--header-bg);
    border-radius: var(--radius);
    background-color: var(--background-50);
    font: inherit;
}

.add-item-form input:focus-visible {
    outline: 1px solid var(--primary);
    outline-offset: -3px;
}

.add-item-form button {
    border: none;
    border-radius: var(--radius);
    background-color: var(--primary-light-50);
    font: inherit;
    cursor: pointer;
}

.add-item-form button img {
    transform: translateY(3px);
}

.add-item-form button:hover {
    background-color: var(--primary-light);
}


/* ------- empty cat ------ */
.category-empty {
    min-height: 35px;
    padding: 8px 12px;
    background-color: var(--secondary-light-50);
    margin: 0;
}

/* ===== checkboxes ====== */
legend {
    padding: 0 5px;
    margin: 0 0 10px 10px;
}

fieldset {
    border: 1px solid var(--primary);
    border-radius: var(--radius);
}

fieldset div {
    margin-bottom: 15px;
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;

    width: 25px;
    height: 25px;
    border: 1px solid var(--text-60);
    border-radius: 5px;
    background-color: var(--background-50);
    margin-left: 15px;
    transform: translateY(6px);
    cursor: pointer;
}

/* Checked state */
input[type="checkbox"]:checked {
    background-color: var(--primary-light);
    position: relative;
}

input[type="checkbox"]:checked::after {
    content: "✔";
    color: var(--background);
    font-size: 18px;
    position: absolute;
    left: 3px;
    top: 0;
}

/* Disabled state */
input[type="checkbox"]:disabled {
    background-color: var(--header-bg);
    cursor: auto;
}

.form-actions {
    margin-top: 30px;
    display: flex;
    gap: 20px;
    justify-content: end;
}

#close-btn {
    background: none;
    border: none;
    font-size: 26px;
    position: absolute;
    top: 15px;
    right: 20px;
}

.error {
    color: var(--secondary);
}

@media (max-width: 1200px) {

    /* picninc page */
    .picnic-info-flex {
        gap: 30px;
        margin-bottom: 50px;
    }

    .categories-grid {
        gap: 60px 20px;
    }

    .picnic-participants,
    .picnic-details {
        border-radius: 50px;
        padding: 30px;
    }

    .item-cell {
        padding: 8px 10px;
    }

    .item-row {
        grid-template-columns: 1fr 0.9fr 0.5fr 0.9fr;
    }

    .add-item-form {
        display: grid;
        grid-template-columns: 2.45fr 0.9fr;
    }
}

@media (max-width: 1000px) {
    h2 {
        font-size: 28px;
        margin-bottom: 15px;
    }

    .picnics-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    /* picninc page */
    .picnic-info-flex {
        gap: 20px;
        margin-bottom: 40px;
    }

    .categories-grid {
        gap: 40px 15px;
    }

    .picnic-participants,
    .picnic-details {
        border-radius: 40px;
        padding: 20px;
        font-size: 14px;
    }

    .item-cell {
        padding: 6px 8px;
        font-size: 14px;
    }

    .category-empty {
        padding: 6px 12px;
    }

    .add-item-form {
        grid-template-columns: 2fr 1fr;
    }

    .add-item-form input {
        padding: 6px 8px;
        font-size: 14px;
    }

    .add-item-form button {
        font-size: 14px;
    }

    .add-item-form button img {
        transform: translateY(5px);
        scale: 0.8;
    }
}

@media (max-width: 768px) {
    h1 {
        margin-bottom: 20px;
    }

    .form-grid {
        display: grid;
        grid-template-columns: repeat(1, 350px);
        grid-gap: 40px;
        justify-content: center;
    }

    .form-grid .div-special {
        margin: 0;
    }

    .join-picnic-bg {
        transform: scale(-1, -1);
        position: relative;
        left: -10px;
    }

    /* picninc page */
    .picnic-info-flex {
        flex-direction: column-reverse;
        gap: 30px;
    }

    .categories-grid {
        grid-template-columns: 1fr;
        grid-gap: 30px;
    }

}