<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}Picnic App{% endblock %}</title>
</head>

<body>
    <header>
    </header>

    <main>
        <div class="container">
            {% with messages = get_flashed_messages( with_categories=true ) %} {% if
            messages %}
            <section class="flash-messages">
                {% for category, message in messages %}
                <p class="flash {{ category }}">{{ message }}</p>
                {% endfor %}
            </section>
            {% endif %} {% endwith %} {% block content %} {% endblock %}
        </div>
    </main>
</body>

</html>