{% extends "base.html" %} {% block title %} Create | Picnic App {% endblock %}
{% block content %}
<section>
    <div class="container">
        <h1>Create your picnic</h1>
        <form method="POST">

            <div>
                <label for="picnic_name">Picnic name</label>
                <input type="text" id="picnic_name" name="picnic_name" maxlength="155" required>
            </div>

            <div>
                <label for="location">Location</label>
                <input type="text" id="location" name="location" maxlength="155" required>
            </div>

            <div>
                <label for="date">Date</label>
                <input type="date" id="date" name="date" required>
            </div>

            <div>
                <label for="invitation_code">Invitation code</label>
                <input type="text" id="invitation_code" name="invitation_code" maxlength="155" required>
            </div>

            <fieldset>
                <legend>Categories</legend>

                <label>
                    <input type="checkbox" name="categories" value="Food">
                    Food
                </label>

                <label>
                    <input type="checkbox" name="categories" value="Drinks">
                    Drinks
                </label>

                <label>
                    <input type="checkbox" name="categories" value="Equipment">
                    Equipment
                </label>

                <label>
                    <input type="checkbox" name="categories" value="Desserts">
                    Desserts
                </label>

                <label>
                    <input type="checkbox" name="categories" value="Entertainment">
                    Entertainment
                </label>

                <label>
                    <input type="checkbox" name="categories" value="Snacks">
                    Snacks
                </label>
            </fieldset>

            <button type="submit">
                Create Picnic
            </button>

        </form>
    </div>
</section>
{% endblock %}