{% extends "base.html" %} {% block title %} Create | Picnic App {% endblock %}
{% block content %}
<section>
    <div class="container">
        <h1>Create your picnic</h1>

        <form method="POST" class="form form-green">
            <div class="form-grid">

                <div>
                    <div>
                        <label for="picnic_name">Picnic name</label>
                        <input type="text" id="picnic_name" name="picnic_name" maxlength="155" required
                            value="{{ name or ''}}">
                    </div>

                    <div>
                        <label for="location">Location</label>
                        <input type="text" id="location" name="location" maxlength="155" required
                            value="{{ location or ''}}">
                    </div>

                    <div>
                        <label for="date">Date</label>
                        <input type="date" id="date" name="date" required value="{{ date or ''}}">
                    </div>

                    <div>
                        <label for="invitation_code">Invitation code</label>
                        <input type="text" id="invitation_code" name="invitation_code" maxlength="155" required>
                    </div>
                </div>

                <div>
                    <fieldset>
                        <legend class="p-special">Item categories</legend>
                        <div>
                            <label>
                                <input type="checkbox" name="categories" value="Food" {% if "Food" in categories
                                    %}checked{% endif %}>
                                Food
                            </label>
                        </div>

                        <div>
                            <label>
                                <input type="checkbox" name="categories" value="Drinks" {% if "Drinks" in categories
                                    %}checked{% endif %}>
                                Drinks
                            </label>

                        </div>

                        <div>
                            <label>
                                <input type="checkbox" name="categories" value="Equipment" {% if "Equipment" in
                                    categories %}checked{% endif %}>
                                Equipment
                            </label>
                        </div>

                        <div>
                            <label>
                                <input type="checkbox" name="categories" value="Desserts" {% if "Desserts" in categories
                                    %}checked{% endif %}>
                                Desserts
                            </label>
                        </div>

                        <div>
                            <label>
                                <input type="checkbox" name="categories" value="Entertainment" {% if "Entertainment" in
                                    categories %}checked{% endif %}>
                                Entertainment
                            </label>
                        </div>

                        <div>
                            <label>
                                <input type="checkbox" name="categories" value="Snacks" {% if "Snacks" in categories
                                    %}checked{% endif %}>
                                Snacks
                            </label>
                        </div>

                    </fieldset>
                </div>

                <div class="form-actions">
                    <a href="{{ url_for('picnics') }}" class="btn btn-small btn-small--grey">Cancel</a>
                    <button type="submit" class="btn btn-small btn-small--green">
                        Create Picnic
                    </button>
                </div>

            </div>
        </form>

    </div>
</section>
{% endblock %}