{% extends "base.html" %} {% block title %} Edit "{{ picnic.picnic_name }}" | Picnic App {% endblock %}
{% block content %}
<section>
    <div class="container">
        <h1>Edit "{{ picnic.picnic_name }}"</h1>

        <form action="{{ url_for('picnic_bp.edit_picnic', picnic_id=picnic.id) }}" method="POST"
            class="form form-green">
            <div class="form-grid">

                <div>
                    <div>
                        <label for="picnic_name">Picnic name</label>
                        <input type="text" id="picnic_name" name="picnic_name" maxlength="155" required
                            value="{{ picnic.picnic_name }}">
                    </div>

                    <div>
                        <label for="location">Location</label>
                        <input type="text" id="location" name="location" maxlength="155" required
                            value="{{ picnic.location }}">
                    </div>

                    <div>
                        <label for="date">Date</label>
                        <input type="date" id="date" name="date" min="{{ today }}" required value="{{ picnic.date }}">
                    </div>

                    <div>
                        <label for="invitation_code">Invitation code</label>
                        <input type="text" id="invitation_code" name="invitation_code" maxlength="155" required
                            value="{{ picnic.invitation_code }}">
                    </div>
                </div>

                <div>
                    <fieldset>
                        <legend class="p-special">Item categories</legend>

                        <!-- 'Checked categories' were previously selected for the picnic; 'used categories' already contain items. -->
                        {% for category in ItemCategory %}
                        <div>
                            <label>
                                <input type="checkbox" name="categories" value="{{ category.value }}" {% if category in
                                    picnic.selected_categories %}checked{% endif %} {% if category.value in
                                    used_categories %}disabled{% endif %}>

                                {{ category.value }}

                                <!-- Hidden input preserves 'used categories' because disabled checkboxes are not submitted with the form -->
                                {% if category.value in used_categories %}
                                <input type="hidden" name="categories" value="{{ category.value }}">
                                {% endif %}

                            </label>
                        </div>
                        {% endfor %}

                        {% for used_category in picnic.used_categories %}
                        <p>[{{ used_category }}] - length: {{ used_category|length }}</p>
                        {% endfor %}

                    </fieldset>
                </div>

                <div class="form-actions">
                    <a href="{{ url_for('picnic_bp.picnic', picnic_id=picnic.id) }}"
                        class="btn btn-small btn-small--grey">Cancel</a>
                    <button type="submit" class="btn btn-small btn-small--green">
                        Save Changes
                    </button>
                </div>
            </div>
        </form>

    </div>
</section>
{% endblock %}