{% extends "base.html" %} {% block title %} Edit "{{ picnic.picnic_name }}" | Picnic App {% endblock %}
{% block content %}
<section>
    <div class="container">
        <h1>Edit "{{ picnic.picnic_name }}"</h1>

        <form action="{{ url_for('edit_picnic', picnic_id=picnic.id) }}" method="POST" class="form form-green">
            <div class="form-grid">

                <div>
                    <div>
                        <label for="picnic_name">Picnic name</label>
                        <input type="text" id="picnic_name" name="picnic_name" maxlength="155" required
                            value="{{ picnic.picnic_name }}">
                    </div>

                    <div>
                        <label for="location">Location</label>
                        <input type="text" id="location" name="location" maxlength="155" required
                            value="{{ picnic.location }}">
                    </div>

                    <div>
                        <label for="date">Date</label>
                        <input type="date" id="date" name="date" required value="{{ picnic.date }}">
                    </div>

                    <div>
                        <label for="invitation_code">Invitation code</label>
                        <input type="text" id="invitation_code" name="invitation_code" maxlength="155" required
                            value="{{ picnic.invitation_code }}">
                    </div>
                </div>

                <div>
                    <fieldset>
                        <legend class="p-special">Item categories</legend>

                        <div>
                            <label>
                                <input type="checkbox" name="categories" value="Food" {% if ItemCategory.FOOD in
                                    picnic.selected_categories %}checked{% endif %}>
                                Food
                            </label>
                        </div>

                        <div>
                            <label>
                                <input type="checkbox" name="categories" value="Drinks" {% if ItemCategory.DRINKS in
                                    picnic.selected_categories %}checked{% endif %}>
                                Drinks
                            </label>
                        </div>

                        <div>
                            <label>
                                <input type="checkbox" name="categories" value="Equipment" {% if ItemCategory.EQUIPMENT
                                    in picnic.selected_categories %}checked{% endif %}>
                                Equipment
                            </label>

                        </div>

                        <div>
                            <label>
                                <input type="checkbox" name="categories" value="Desserts" {% if ItemCategory.DESSERTS in
                                    picnic.selected_categories %}checked{% endif %}>
                                Desserts
                            </label>
                        </div>

                        <div>
                            <label>
                                <input type="checkbox" name="categories" value="Entertainment" {% if
                                    ItemCategory.ENTERTAINMENT in picnic.selected_categories %}checked{% endif %}>
                                Entertainment
                            </label>
                        </div>

                        <div>
                            <label>
                                <input type="checkbox" name="categories" value="Snacks" {% if ItemCategory.SNACKS in
                                    picnic.selected_categories %}checked{% endif %}>
                                Snacks
                            </label>
                        </div>

                    </fieldset>
                </div>

                <div class="form-actions">
                    <a href="{{ url_for('picnic', picnic_id=picnic.id) }}"
                        class="btn btn-small btn-small--grey">Cancel</a>
                    <button type="submit" class="btn btn-small btn-small--green">
                        Save Changes
                    </button>
                </div>
            </div>
        </form>

    </div>
</section>
{% endblock %}