{% extends "base.html" %} {% block title %} Home | Picnic App {% endblock %}
{% block content %}
<section class="home">
    <div class="container">
        <div class="div-btn">
            <a href="{{ url_for('picnic_bp.create_picnic') }}" class="btn">Create Picnic</a>
            <!-- condition to hide `join picnic` for logged in users -->
            {% if not current_user.is_authenticated %}
            <a href="{{ url_for('guest_bp.join_picnic') }}" class="btn btn-secondary">Join Picnic</a>
            {% endif %}
        </div>

    </div>
</section>
{% endblock %}