{% extends "base.html" %} {% block title %} Register | Picnic App {% endblock %}
{% block content %}

<section class="register">
    <div class="container">

        <h1>Create an account</h1>
        <div class="form-grid">
            <form method="POST" class="form form-green">
                <div>
                    <label for="username">Username</label>
                    <input id="username" name="username" type="text" maxlength="50" required />
                </div>

                <div>
                    <label for="name">Name</label>
                    <input id="name" name="name" type="text" maxlength="155" required />
                </div>

                <div>
                    <label for="password">Password</label>
                    <input id="password" name="password" type="password" minlength="8" maxlength="20" required />
                </div>
                <div class="form-actions">
                    <button class="btn btn-small btn-small--green" type="submit">Create account</button>
                </div>

            </form>
            <div>
                <div class="register-img"></div>
            </div>
        </div>



    </div>
</section>
{% endblock %}