{% extends "base.html" %} {% block title %} Register | Picnic App {% endblock %}
{% block content %}

<section>
    <h1>Create an account</h1>

    <form method="POST" class="form">
        <div>
            <label for="username">Username</label>
            <input id="username" name="username" type="text" maxlength="50" required />
        </div>

        <div>
            <label for="name">Name</label>
            <input id="name" name="name" type="text" maxlength="155" required />
        </div>

        <div>
            <label for="password">Password</label>
            <input id="password" name="password" type="password" minlength="8" maxlength="20" required />
        </div>

        <button class="btn" type="submit">Create account</button>
    </form>
</section>
{% endblock %}